body{
    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: 130px 1fr 50px;
}

#content{
    margin: 0;
    padding: 0;
}

#header{
    display: grid;

    grid-template-columns: 1fr 300px;
    grid-template-rows: 128px;

    background-color: rgb(3, 16, 29);
    border: 1px solid rgb(3, 0, 44);

    align-items: center;
}

#footer{
    display: grid;
    justify-content: center;
    color: black;
    background-color: rgb(3, 16, 29);
    border: 1px solid rgb(3, 0, 44);
}

#logo{
    margin: 0px 0 0px 10px;
    grid-column: 1/2;

    display:grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 115px;

    align-items: center;
}

#menu{
    grid-column: 2/3;
    
    padding: 0 10px 0 0;

    display: grid;
    grid-template-columns: 75px 75px 100px;
    justify-content: end;
}

button{
    border: none;
    background-color: rgb(3, 16, 29);
    color: white;
}

.home{
    grid-column: 1/2;
}

.menu{
    grid-column: 2/3;
}

.contact{
    grid-column: 3/4;
}

p{
    color: white;
}

.bodyText{
    color: black;
}

.bodyDiv{
    display:grid;
    justify-content: center;
}

.bodyDivMap{
    height: 79vh;

    display: grid;
    justify-content: center;
    align-items: center;

}


.logoImage{
    grid-column: 1/2;

    height: 100px;
    width: 100px;
    border: 1px solid white;
}

.title{
    grid-column: 2/3;
    padding: 0 0 0 0;

    font-size: 50px;
    font-weight: bold;

    display: flex;
    align-items: flex-end;
}

#pizzaPNG{
    height: 50px;
}

.home, .menu, .contact{
    padding: 0 5px 0 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.home:hover, .menu:hover, .contact:hover{
    font-weight: 900;
    cursor: pointer;
}

.text{
    color: red;
}

#body{
    color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
}

.bodyCopy{
    padding: 10px 0 0 10px;
    color: black;
}

