body{
    margin: 0;
    padding: 0;
}

#content{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#header{
    display: grid;
    grid-template-columns: 1fr 300px;
    background-color: rgb(3, 16, 29);
    border: 1px solid rgb(3, 0, 44);
}

#logo{
    margin: 10px 0 10px 10px;
    grid-column: 1/2;

    display:grid;
    grid-template-columns: 110px 150px;
}

#menu{
    grid-column: 3/4;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0 10px 0 0;
}

.home{
    grid-column: 1/2;
}

.menu{
    grid-column: 2/3;
}

.contact{
    grid-column: 3/4;
}

p{
    color: white;
}

.logoImage{
    grid-column: 1/2;

    height: 100px;
    width: 100px;
    border: 1px solid white;
}

.title{
    grid-column: 2/3;
    padding: 0 0 0 0;

    display: flex;
    align-items: flex-end;
}

#pizzaPNG{
    height: 50px;
}

#menu{
    display:grid;
    grid-template-columns: repeat(1fr, 5);
}

.home, .menu, .contact{
    display: flex;
    align-items: flex-end;
}

.text{
    color: red;
}

#body{
    color: rgb(212, 212, 212);
}

.bodyCopy{
    padding: 0 0 0 10px;
}

